<div id="column-one">
	<div class="portlet" id="p-logo">
        <a style="background-image: url({{site.baseurl}}/assets/images/ob3-logo.png);" href="{{site.baseurl}}/" array></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>
    <div class="portlet" id="p-navigation">
		<h5>navigation</h5>
		<div class="pBody">
			<ul>
                <li id="n-mainpage"><a href="{{site.baseurl}}/" array>Main Page</a></li>
                <li id="n-download"><a href="{{site.baseurl}}/download" array>Download</a></li>
                <li id="n-news"><a href="{{site.baseurl}}/news" array>News</a></li>
                <li id="n-contribute"><a href="{{site.baseurl}}/contribute" array>Contribute</a></li>
                <li id="n-obconf"><a href="{{site.baseurl}}/obconf" array>ObConf</a></li>
            </ul>
		</div>
	</div>
    <div class="portlet" id="p-support">
		<h5>support</h5>
		<div class="pBody">
			<ul>
                <li id="n-help"><a href="{{site.baseurl}}/help/Contents" array>Documentation</a></li>
                <li id="n-faq"><a href="{{site.baseurl}}/help/FAQ" array>FAQ</a></li>
                <li id="n-gettingstarted"><a href="{{site.baseurl}}/help/Getting_started" array>Getting started</a></li>
                <li id="n-installing"><a href="{{site.baseurl}}/help/Installing" array>Installing guide</a></li>
                <li id="n-bugs"><a href="{{site.baseurl}}/contribute#Bug_reports" array>Bug reports</a></li>
            </ul>
		</div>
	</div>
    <div class="portlet" id="p-community">
		<h5>community</h5>
		<div class="pBody">
			<ul>
				<li id="n-portal"><a href="{{site.baseurl}}/community_portal" array>Community portal</a></li>
				<li id="n-themes"><a href="{{site.baseurl}}/themes" array>Themes</a></li>
                <!--
				<li id="n-screenshots"><a href="/web/20240430020920/http://openbox.org/wiki/Openbox:Screenshots" array>Screen shots</a></li>
                -->
				<li id="n-pipemenus"><a href="{{site.baseurl}}/pipemenus" array>Pipe menus</a></li>
			</ul>
		</div>
	</div>
    <div id="p-credits" class="portlet">
		<h5>Credits</h5>
		<div class="pBody">
            <ul>
                <li id="credits"><a href="{{site.baseurl}}/credits" title="Openbox:Credits">Credits</a></li>
            </ul>
		</div>
	</div>
<!--
    <div id="p-search" class="portlet">
		<h5><label for="searchInput">Search</label></h5>
		<div id="searchBody" class="pBody">
			<form action="/web/20240430020920/http://openbox.org/wiki/Special:Search" id="searchform"><div>
				<input id="searchInput" name="search" type="text" array value=""/>
				<input type="submit" name="go" class="searchButton" id="searchGoButton" value="Go"/>&nbsp;
				<input type="submit" name="fulltext" class="searchButton" id="mw-searchButton" value="Search"/>
			</div></form>
		</div>
	</div>
--> 
</div> <!-- id=column-one -->
