<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta property="og:type" content="website"></meta>

<title>{{ page.title }} - Openbox</title>
<meta property="og:title" content="{{ page.title }} - Openbox"></meta>
<meta property="og:site_name" content="Openbox"></meta>

<meta name="description" content="Openbox Window Manager"></meta>
<meta property="og:description" content="Openbox Window Manager"></meta>

<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/images/Openbox-72.png">
<meta property="og:image" content="{{site.baseurl}}/assets/images/Openbox-72.png"></meta>

<style type="text/css" media="screen,projection">/*<![CDATA[*/ @import "{{site.baseurl}}/assets/css/main.css"; /*]]>*/</style>
<link rel="stylesheet" type="text/css" media="print" href="{{site.baseurl}}/assets/css/commonPrint.css"/>
